loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
.\#*
history
/repl-port
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/quicklisp/cache/
/keysnail/persistent/prompt_history.json
/.FBReader/books.db
/.FBReader/network.db
/.FBReader/state.db
/.ghc/ghci_history
/.ghc/x86_64-linux-7.6.3/
/.xmonad/TAGS
/nixos/lenovo/proxy.nix
/.ghc/x86_64-linux-*
/.FBReader/config.changes
.FBReader/cache/
