loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
.\#*
history
/repl-port
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/quicklisp/cache/
/keysnail/persistent/prompt_history.json
/.FBReader/books.db
/.FBReader/network.db
/.FBReader/state.db
/.FBReader/options.xml
/.FBReader/state.xml
/.FBReader/system.xml
/.FBReader/ui.xml
