[user]
	name = Antoine R. Dumont
	email = antoine.romain.dumont@gmail.com

[core]
	editor = emacsclient -nw
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global

[web]
	browser = firefox
	
[color]
	ui = true

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold 

[push]
	default = matching

[merge]
	tool = meld

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD~ --
	last = log -1 HEAD
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard

[help]
	autocorrect = 1

[credential]
	helper = cache --timeout 3600

# [url "https://"]
# 	insteadOf = git://
