Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintlight
Xft.rgba: rgb

! rxvt-unicode setup
URxvt*termName: screen-256color
URxvt.letterSpace: -1

! Xft (X FreeType) with Bitstream, DejaVu, Liberation, or Terminus fonts:
!  Fedora/debian packages: libXft/libxft2
!  An anti-aliased font setup with Xft looks fantastic; it can be a bit choppy
!  on older systems. You can always turn off anti-aliasing (antialias=false) if
!  your terminal is sluggish. Use only ONE of the Xft pairs below:
! Xft: DejaVu fonts
!  Fedora/debian packages: dejavu-sans-mono-fonts/ttf-dejavu
URxvt*font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
URxvt*italicFont: xft:DejaVu Sans Mono:italic:hinting=true:pixelsize=12
URxvt*boldItalicFont: xft:DejaVu Sans Mono:bold:italic:hinting=true:pixelsize=12

URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*background: Black
URxvt*foreground: White
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
! URxvt*geometry: 240x84
! URxvt*loginShell: true
! URxvt*scrollColor: #777777
! URxvt*scrollstyle: plain
! URxvt*scrollTtyKeypress: true
! URxvt*scrollTtyOutput: false
! URxvt*scrollWithBuffer: false
! URxvt*secondaryScreen: true
! URxvt*secondaryScroll: true
! URxvt*skipScroll: true
! URxvt*fading: 30
! URxvt*utmpInhibit: false
! URxvt*urgentOnBell: false
! URxvt*visualBell: true
! URxvt*mapAlert: true
! URxvt*mouseWheelScrollPage: false
! URxvt*saveLines: 0
! URxvt*buffered: true
! URxvt*hold: false
! URxvt*internalBorder:
! URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
! URxvt*perl-ext-common:
! URxvt*perl-ext: