Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintlight
Xft.rgba: rgb
URxvt.letterSpace: -1
URxvt*facename: DejaVu Sans Mono
URxvt*faceSize: 10
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 8
UXTerm*faceName: DejaVu Sans Mono
UXTerm*faceSize: 8
